[submodule "test/script/reference"]
	path = test/script/reference
	url = https://github.com/WebAssembly/testsuite.git
	shallow = true
[submodule "test/c/collections-c/files"]
	path = test/c/collections-c/files
	url = https://github.com/zapashcanon/Collections-C.git
	shallow = true
