name: build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest see #5
        ocaml-compiler:
          - "5.1"
        #include:
        #  - os: ubuntu-latest
        #    ocaml-compiler: "4.13"
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: cache
        id: cache-opam
        uses: actions/cache@v4
        env:
          cache-name: cache-opam
        with:
          path: |
            ~/work/owi/owi/_opam/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.opam') }}
      - name: setup-ocaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          opam-depext: true
          opam-pin: true
          allow-prerelease-opam: true
      - name: depext
        run: |
          opam install . --depext-only --with-test --with-doc
      - name: setup
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: |
          opam install . --deps-only --with-test --with-doc
      - name: build
        run: |
          opam exec -- dune build @install
      - name: test
        run: |
          opam exec -- dune runtest
      - name: lint-doc
        run: |
          ODOC_WARN_ERROR=true opam exec -- dune build @doc 2> output.txt || true
          # $(exit $(wc -l output.txt | cut -d " " -f1))
      - name: lint-fmt
        run: |
          opam exec -- dune build @fmt || (echo "\n⚠️ please run \`dune fmt\` and try again" && exit 1)
