name: build-nix
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nixos/nix:latest
    steps:
      - name: test
        run: |
          set -x

          git clone https://github.com/${{ github.repository }}.git
          cd $(basename ${{ github.repository }})

          if [ "${{ github.event_name }}" = "pull_request" ]; then
            git fetch origin pull/${{ github.event.pull_request.number }}/head:pr-${{ github.event.pull_request.number }}
            git checkout pr-${{ github.event.pull_request.number }}
          else
            git checkout ${{ github.ref_name }}
          fi

          git submodule update --init --recursive

          nix-shell --run "
            ODOC_WARN_ERROR=true
            dune build @fmt &&
            dune build @doc &&
            dune build @install &&
            dune build @all &&
            dune runtest
          "

          nix-shell -p git --run "
            git diff --exit-code owi.opam
          "
