name: build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest # macOS ARM64
            # - macos-latest-large # macOS x86_64 # disabled because we're poor
          - ubuntu-latest
          # - windows-latest see #5
        ocaml-compiler:
          - "5.3"
        include:
          - os: ubuntu-latest
            ocaml-compiler: "5.1"
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: checkout-submodules
        run: |
          git submodule update --init test/script/reference
          git submodule update --init test/c/collections-c/files
          mv .git .git.tmp # prevents opam from checking-out submodules
      - name: setup-ocaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: false
          opam-pin: true
          allow-prerelease-opam: false
      - name: depext
        run: |
          # Installs rust-wasm
          rustup update
          rustup target add wasm32-unknown-unknown
          if [ "$RUNNER_OS" == "macOS" ]; then
            brew update
            brew upgrade
            brew install pkgconf
          fi
          if [ "$RUNNER_OS" == "linux" ]; then
            apt update
          fi
          opam install . --depext-only --with-test --with-doc
      - name: setup
        run: |
          opam install . --deps-only --with-test --with-doc
          opam install smtml z3
          opam install ocamlformat
      - name: build
        run: |
          if [ "$RUNNER_OS" == "macOS" ]; then
            export PATH="$(brew --prefix llvm@15)/bin/:$PATH" # macossucks
          fi
          opam exec -- dune build @install
      - name: test
        run: |
          mv .git.tmp .git # bring it back, we won't call opam anymore from now on
          if [ "$RUNNER_OS" == "macOS" ]; then
            export PATH="$(brew --prefix llvm@15)/bin/:$PATH" # macossucks
          fi
          opam exec -- dune runtest
      - name: lint-doc
        run: |
          ODOC_WARN_ERROR=true opam exec -- dune build @doc 2> output.txt || true
          # $(exit $(wc -l output.txt | cut -d " " -f1))
      - name: lint-fmt
        run: |
          opam exec -- dune build @fmt || (echo "\n⚠️ please run \`dune fmt\` and try again" && exit 1)
      - name: lint-fresh-opam-file
        run: |
          git diff --exit-code owi.opam || (echo "⚠️ please run \`dune build\`, commit the changes to owi.opam, and then try again" && exit 1)
